__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
venv_optuna/
env/
ENV/

.eggs/
*.egg-info/
dist/
build/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

.ipynb_checkpoints/

*.log

data/cache/
data/outputs/
data/processed/
data/raw/
data/best_optimisation/

data/**/*.png
data/**/*.jpg
data/**/*.jpeg

.DS_Store
